<div class="relative flex-auto h-40 w-40">
    <div class="absolute inset-0 bg-gradient-to-r from-yellow-700 to-yellow-500 shadow-lg 
    transform -skew-y-6 sm:skew-y-0 sm:rotate-12 sm:rounded-3xl 2xl:-skew-y-4 2xl:rotate-4"
    >
    </div>

    <div class="relative bg-white w-40 h-40 rounded-3xl overflow-hidden shadow-lg outline-none align-middle">
        <input
        hidden
        #fileInput
        type="file"
        id="file"
        (change)="setFilename(fileInput.files)"
        />
        <button type="button">Save</button>
        <br />
        <button (click)="fileInput.click()" class="mt-16 ml-7 focus:outline-none font-semibold hover:text-black text-gray-400">+ Add Image</button>
    </div>
</div>
