<div class="flex flex-col w-full">
    
    <div class="flex w-full h-full py-6">
        <div class="relative">
            <div class="absolute inset-0 bg-gradient-to-r from-yellow-700 to-yellow-500 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:rotate-6 sm:rounded-3xl"></div>
            <div class="relative bg-white w-full rounded-3xl overflow-hidden shadow-lg">
                <div>
                    <table class="table-fixed bg-gray-100 w-full">
                        <thead >
                            <tr class="shadow-sm">
                            <th *ngFor="let header of headers" class="py-4 bg-white text-gray-800 sticky top-0 " >{{header}}</th>
                            </tr>
                        </thead>
                        <tbody class="divide-y">
                            <tr *ngFor="let order of orders" >
                                <td *ngFor="let field of columns" class="text-center py-4">
                                    <span *ngIf="field !== 'status'; else orderStatus">
                                        {{order[field]}}
                                    </span>
                                    <ng-template  #orderStatus>
                                        <app-order-status [status]="order[field]" ></app-order-status>
                                    </ng-template>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>