<div class="flex h-full">
    <div class="flex w-full h-full">
        <div class="relative flex-auto w-full">
            <div class="absolute inset-0 bg-gradient-to-b from-yellow-800 to-yellow-500 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:rotate-6 rounded-3xl 2xl:-skew-y-4 2xl:rotate-4"
            ></div>
            <div class="relative bg-white w-full rounded-3xl overflow-hidden shadow-lg">
                <table class="table-auto text-gray-800 bg-gray-100 w-full">
                    <thead >
                        <tr class="shadow-sm ">
                            <th *ngFor="let header of headers" class="flex-shrink-0 flex-nowrap py-4 bg-white text-gray-800 " >{{header}}</th>
                            <th  class="py-4 bg-white "></th>
                        </tr>
                    </thead>
                    <tbody class="divide-y">
                        <tr [routerLink]="[order.id]" class="hover:bg-white cursor-pointer" *ngFor="let order of orders |  paginate: { itemsPerPage: itemsPerPage , currentPage: page } " >
                            <td [ngClass]="{'w-32':field === 'status'}" *ngFor="let field of getColumns()" class="text-center py-4">
                                <span *ngIf="field !== 'status'; else orderStatus">
                                    {{order[field]}}
                                </span>
                                <ng-template #orderStatus>
                                    <app-order-status [status]="order[field]" ></app-order-status>
                                </ng-template>
                            </td>
                            <td class="w-20 relative">
                                <app-order-options [order]="order"></app-order-options>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
